@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kameron:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,300&family=Poppins:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgCard{
    background:linear-gradient(355deg, rgb(42, 15, 83), rgb(38, 32, 143), rgb(87, 47, 184))
}

.bgImage {
    background-image: url("public/img/Hexagon.svg");
}

.originFont{
    font-family: 'OringTech', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#1fc47a, #1fc47a);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#1fc47a, #1fc47a)
}



#buttomIns:hover{
    background-color: #49018c;
}

.bg-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-video:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* adicione um fundo escuro para melhor legibilidade do texto */
    z-index: -1;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.card {
  width: 190px;
  height: 254px;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.card > span {
  z-index: 1;
  /* color: white; */
  font-size: 2em;
  background: white;
  
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 183, 255)), to(rgb(255, 48, 255)));
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    -webkit-animation: rotBGimg 5s linear infinite;
            animation: rotBGimg 5s linear infinite;
    -webkit-transition: all 0.2s linear;
    transition: all 0.1s linear;
}

@-webkit-keyframes rotBGimg {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotBGimg {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.card::after {
  content: '';
  position: absolute;
  background: #2200B8;
  /* opacity: 10%; */
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */



.cardSpeaker {
    width: 20em;
    height: 28em;
    background: #171717;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-clip-path: polygon(50px 100%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
            clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.cardSpeaker span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.cardSpeaker .info {
    font-weight: 500;
    color: cyan;
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 1.9em;
}

.cardSpeaker .img {
    width: 15vh;
    height: 10vh;
    background: white;
    border-radius: 15px;
    margin: auto;
    border-radius: 20px;
}

.cardSpeaker .share {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
}

.cardSpeaker a {
    color: white;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.cardSpeaker a:hover {
    color: red;
}

.cardSpeaker button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.cardSpeaker button:hover {
    background: red;
    color: white;
    cursor: pointer;
}