@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kameron:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

@font-face {
    font-family: 'OringTech';
    src: url('./fonts/origin_tech/OriginTechpersonaluse.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgCard{
    background:linear-gradient(355deg, rgb(42, 15, 83), rgb(38, 32, 143), rgb(87, 47, 184))
}

.bgImage {
    background-image: url("public/img/Hexagon.svg");
}

.originFont{
    font-family: 'OringTech', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#1fc47a, #1fc47a);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#1fc47a, #1fc47a)
}



#buttomIns:hover{
    background-color: #49018c;
}

.bg-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-video:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* adicione um fundo escuro para melhor legibilidade do texto */
    z-index: -1;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
